/* =========================
   CONTENEDOR GENERAL
========================= */
.custom-navbar {
  background: #20004a;
  padding: 0.5rem 1.5rem;
}


/* =========================
   LOGO
========================= */
.navbar-brand {
color: #EDEAFF!important;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
}

.navbar-brand svg {
  color: #D6D6E0;
}

/* =========================
   BOTÓN HAMBURGUESA
========================= */
.navbar-toggler {
  border-color: #00e5ff;
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* =========================
   OFFCANVAS
========================= */
.offcanvas {
  background: #0b1d26;
  color: #26005f;
}

.offcanvas-header {
  border-bottom: 1px solid rgba(0, 229, 255, 0.3);
}

.offcanvas-title {
  color: #a600ff;
}

/* =========================
   LINKS (BOTONES)
========================= */
.nav-link.btn {
  color: #f0e8ff !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* Hover */
.nav-link.btn:hover {
  background:  rgba(111, 0, 255, 0.55);
  color: #EDEAFF !important;
}

/* Activo */
.nav-link.active {
  background: rgba(0, 229, 255, 0.25);
  color: #00e5ff !important;
}

/* =========================
   ICONOS
========================= */
.nav-link svg {
  font-size: 18px;
  color: inherit;
}

/* =========================
   ANIMACIÓN SVG (DESKTOP)
========================= */
@media (min-width: 992px) {
  .navbar::after {
    content: "";
    display: block;
    height: 3px;
    background: linear-gradient(
      90deg,
      transparent,
      #5a01ac,
      transparent
    );
    animation: glow 3s infinite;
  }
}

@keyframes glow {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
